<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
   <h1>안녕! 잘 보이지</h1>
   
   <form action="/" method="post"> <!--루트경로보내면처리되도록-->
     <!--url지원 브라우저있어, 폼전송 하려면 name있어야, -->
     <input type="url" name="longUrl" >
     <!--전송 input button다되-->
     <input type="submit" value="전송">
   </form>

   <table>
     <thead>
       <tr>
         <td>Long url</td>
         <td>Short url</td>
       </tr>
     </thead>
     <tbody>
        <% data.forEach(item => { %>
         <tr>
           <td><%= item.longUrl %></td>
           <td><a href="/<%= item.id %>" target="_blank" ><%= item.id %></a></td>
           <!--copy link까지 잘 복사됨-->
         </tr>
        <% }) %>
     </tbody>
   </table>
</body>
</html>