<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
   <h1>안녕! 잘 보이지</h1>
   <table>
     <thead>
       <tr>
         <td>long url</td>
         <td>short url</td>
       </tr>
     </thead>
     <tbody>
        <% data.forEach(item => { %>
         <tr>
           <td><%= item.longUrl %></td>
           <td><a href="/<%= item.id %>" target="_blank" ><%= item.id %></a></td>
           <!--copy link까지 잘 복사됨-->
         </tr>
        <% }) %>
     </tbody>
   </table>
</body>
</html>